.bottle{
    padding: 20px;
    margin: 25px;
    background-color: bisque;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.bottle img{
    width: 200px;
    border-radius: 15px;
}

.bottle h5{
    margin-top: 10px;
}

.bottle button{
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    transition: all .5s;
}

.bottle button:hover{
    background-color: white;
    color: #000;
    cursor: pointer;
}